
gis/culgoa_dem_colour_map.txt
gis/culgoa_pnts_25m.dbf
gis/culgoa_pnts_25m.prj
gis/culgoa_pnts_25m.shp
gis/culgoa_pnts_25m.shx
gis/stream_network.cpg
gis/stream_network.dbf
gis/stream_network.prj
gis/stream_network.shp
gis/stream_network.shx
gis/stream_nodes.cpg
gis/stream_nodes.dbf
gis/stream_nodes.prj
gis/stream_nodes.shp
gis/stream_nodes.shx
gis/culgoa_line.cpg
gis/culgoa_line.dbf
gis/culgoa_line.prj
gis/culgoa_line.shp
gis/culgoa_line.shx
gis/culgoa_oc.cpg
gis/culgoa_oc.dbf
gis/culgoa_oc.prj
gis/culgoa_oc.shp
gis/culgoa_oc.shx
gis/profiles_25m.csv
*.cpg
*.dbf
*.dbf
*.prj
*.shp
*.shx
r/.Rhistory
data/fill_regressions.RData
r/scratch.R
r/hs2tfv/001_HS/out/Heat_SR1_05_may.csv
r/hs2tfv/001_HS/out/Heat_SR1_06_jun.csv
r/hs2tfv/001_HS/out/Heat_SR1_07_jul.csv
r/hs2tfv/001_HS/out/Heat_SR1_08_aug.csv
r/hs2tfv/001_HS/out/Heat_SR1_09_sep.csv
r/hs2tfv/001_HS/out/Heat_SR4_05_may.csv
r/hs2tfv/001_HS/out/Heat_SR4_06_jun.csv
r/hs2tfv/001_HS/out/Heat_SR4_07_jul.csv
r/hs2tfv/001_HS/out/Heat_SR4_08_aug.csv
r/hs2tfv/001_HS/out/Heat_SR4_09_sep.csv
r/hs2tfv/001_HS/out/Heat_SR1_01.csv
r/hs2tfv/001_HS/out/Heat_SR1_02.csv
r/hs2tfv/001_HS/out/Heat_SR1_03.csv
r/hs2tfv/001_HS/out/Heat_SR1_04.csv
r/hs2tfv/001_HS/out/Heat_SR1_05.csv
r/hs2tfv/001_HS/out/Heat_SR1_06.csv
r/hs2tfv/001_HS/out/Heat_SR1_07.csv
r/hs2tfv/001_HS/out/Heat_SR1_08.csv
r/hs2tfv/001_HS/out/Heat_SR1_09.csv
r/hs2tfv/001_HS/out/Heat_SR1_10.csv
r/hs2tfv/001_HS/out/Heat_SR1_11.csv
r/hs2tfv/001_HS/out/Heat_SR1_12.csv
r/hs2tfv/001_HS/out/Heat_SR4_01.csv
r/hs2tfv/001_HS/out/Heat_SR4_02.csv
r/hs2tfv/001_HS/out/Heat_SR4_03.csv
r/hs2tfv/001_HS/out/Heat_SR4_04.csv
r/hs2tfv/001_HS/out/Heat_SR4_05.csv
r/hs2tfv/001_HS/out/Heat_SR4_06.csv
r/hs2tfv/001_HS/out/Heat_SR4_07.csv
r/hs2tfv/001_HS/out/Heat_SR4_08.csv
r/hs2tfv/001_HS/out/Heat_SR4_09.csv
r/hs2tfv/001_HS/out/Heat_SR4_10.csv
r/hs2tfv/001_HS/out/Heat_SR4_11.csv
r/hs2tfv/001_HS/out/Heat_SR4_12.csv
r/hs2tfv/004_DATA/Heat_Output.zip
