
gis/culgoa_dem_colour_map.txt
gis/culgoa_pnts_25m.dbf
gis/culgoa_pnts_25m.prj
gis/culgoa_pnts_25m.shp
gis/culgoa_pnts_25m.shx
gis/stream_network.cpg
gis/stream_network.dbf
gis/stream_network.prj
gis/stream_network.shp
gis/stream_network.shx
gis/stream_nodes.cpg
gis/stream_nodes.dbf
gis/stream_nodes.prj
gis/stream_nodes.shp
gis/stream_nodes.shx
gis/culgoa_line.cpg
gis/culgoa_line.dbf
gis/culgoa_line.prj
gis/culgoa_line.shp
gis/culgoa_line.shx
gis/culgoa_oc.cpg
gis/culgoa_oc.dbf
gis/culgoa_oc.prj
gis/culgoa_oc.shp
gis/culgoa_oc.shx
gis/profiles_25m.csv
*.cpg
*.dbf
*.dbf
*.prj
*.shp
*.shx
r/.Rhistory
