# MD-WERP 9.2 Water Quality Modelling; Tuflow FV WQ 
# Ryan Shojinaga & David Hamilton, Australian Rivers Institute, Griffith Uni.
# ryan.shojinaga@griffithuni.edu.au

# SCRIPT DESCRIPTION

remove(list = ls()); cat("\014")
# Path to model folder and source functions
path         <- XX_PATH_XX
source(paste0(path, '/003_R/999_model_functions.R'))
